@{
    ViewData["Title"] = "Login Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to CRM web app</h1>

    <form class="form-control">
        <div class="form-group" style="padding:10px 0">
            <label for="exampleInputEmail1">User ID</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter your User ID">
        </div>
        <div class="form-group" style="padding:10px 0">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
        </div>
        <div class="form-group" style="padding:10px 0">
            <button type="submit" class="btn btn-primary">Login</button>
        </div>
    </form>
</div>

