@model CRMDemo.Models.Voucher

@{
    ViewData["Title"] = "Edit voucher";
    Layout = "~/Areas/Admin/Views/Shared/_VouchersLayout.cshtml";
}

<h1>Sửa</h1>

<h4>Voucher</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="VoucherName" class="control-label"></label>
                <input asp-for="VoucherName" class="form-control" />
                <span asp-validation-for="VoucherName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VoucherValue" class="control-label"></label>
                <input asp-for="VoucherValue" class="form-control" />
                <span asp-validation-for="VoucherValue" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Condition" class="control-label"></label>
                <input asp-for="Condition" class="form-control" />
                <span asp-validation-for="Condition" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Exd" class="control-label"></label>
                <input asp-for="Exd" class="form-control" />
                <span asp-validation-for="Exd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Lưu" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Trở lại</a>
</div>

