@model CRMDemo.Models.CusRank

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_CusRanksLayout.cshtml";
}

<h1>Xáo</h1>

<h3>Bạn có thực sự muốn xóa?</h3>
<div>
    <h4>Cấp Bậc</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RankName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RankName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Condition)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Condition)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Xóa" class="btn btn-danger" /> |
        <a asp-action="Index">Trở Lại</a>
    </form>
</div>
